@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  font-family: var(--font-inter, "Inter"), sans-serif;
  background-color: #fffcf6;
  color: #1c1a1e;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  h1,
  h2,
  h3 {
    font-family: var(--font-poppins, "Poppins"), sans-serif;
  }
}

@layer utilities {
  .skew-dot::after {
    content: "";
    position: absolute;
    inset: auto 1.25rem -0.75rem auto;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background: #f6b11c;
  }
}
